@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Semibold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Averta";
    src: url("../fonts/Averta-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

#root > div,
#root > div > div{
    height: 100% !important;
}

.switch-wrapper {
  position: relative;
}
 

@keyframes jump {
    0% {
        top: -8px;
    }
    50% {
        top: 8px;
    }
    100% {
        top: -8px;
    }
}

a {
    cursor: pointer;
}

#root{height: 100%;}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    width: 100% !important;
    overflow-x: hidden;
    background-color: #fcfcf5;
}

*:not(.fa){
    font-family: 'Averta' !important;
}

.dropdown menu {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown menu:hover .dropdown menu-content {
    display: block;
    float: right;
    text-align: left;
}

[class*="col-"],
.row {
    margin: auto;
}

#spacer{
    margin-bottom: 50px;
}

#carouselExampleIndicators{
    background-color: rgba(1,1,1,.3);
    border-radius: 12px;
    width: 48%;
    margin-left: 80px;
    height: 315px;
    margin-top: 70px;
}

.carousel-inner {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.carousel-item > h1 {
    margin-top: 39px;
    font-size: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleIndicators h1{
    color: white !important;
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
}

.carousel-control-next,
.carousel-control-prev{
    margin: auto;
    height: 50%;
}

#thank {
    background-color: #fcfcf5;
    position: fixed;
}

#thank .second,
#thank .typed2 {
    margin-top: 100px;
    font-size: 110px;
}

header {
    padding: 10px 0px 0px 0px;
}

.logo {
    font-size: 45px;
    color: black !important;
    font-weight: 300;
    text-decoration: none !important;
}

.dot {
    color: orange;
    display: inline;
    font-size: 90px;
    line-height: 0;
}


header > nav {
    display: inline-block !important;
    padding: 0 !important;
    float: right;
}

.text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 15px;
    text-align: right;
}

a > img {
    padding: 0 !important;
    margin-top: 8px;
    margin-left: 4px;
    height: 50px;

}

.nav-link::after {
    display: none;
}

.second > [class*="col-"] {
    margin-left: 0;
    margin-right: 0;
}


.jumbo {
    margin-top: 10px;
    font-weight: 300;
    color: black;
    width: 90%;
    font-size: 70px;
    padding-left: 20px;
    text-align: left;
}

.button {
    font-size: 23px;
    color: dimgray;
    float: left;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 2%;
    text-decoration: none !important;
}

.arrow {
    color: orange;
    position: relative;
    vertical-align: text-bottom;
    animation: jump 1.5s infinite;
    font-family: 'FontAwesome';
}

.circle {
    position: absolute;
    top: 0;
    margin-top: 15%;
    right: -85px;
    overflow: hidden;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background: linear-gradient(135deg, rgba(255, 174, 39, 1) 0%, rgba(222, 73, 109, 1) 100%);
}

.third {
    margin-top: 250px !important;
    text-align: center;
}

.typed1::after {
    content: '|';
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

h4 {
    font-weight: 300;
    color: dimgray;
}

.typed1 {
    font-size: 42px;
    font-weight: 300;
    color: dimgray;
}

.typed-cursor {
    opacity: 0;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    font-size: 55px;
    color: black;
    font-weight: normal;
}

#carouselExampleIndicators h2{
    font-size: 41px;
}

.carousel-item > .closebtn {
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.6em;
    position: absolute;
    right: 46px;
}

.closebtn:hover {
    color: greenyellow;
}


div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 130px;
    margin-top: 3%;
}

.icons {
    display: flex;
    justify-content: space-around;
}

img {
    height: 100px;
    padding-left: 20%;
    border-radius: 50%;
}

.caption {
    display: block;
    margin-left: 13%;
    margin-top: 8%;
    color: dimgray;
    font-weight: 300;
}

footer {
    padding: 65px 0px;
    font-weight: 600;
    margin-top: 80px !important;
    background-color: #f9f9f5;
    bottom: 0;
    width: 100%;
}


footer > [class *="col-"] {
    margin: 0 !important;
}

ul {
    padding: 0px 10px;
}

.login-box {
    width: 45%;
    height: 53%;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-box > .center {
    margin: auto;
    height: 100%;
}

.sign {
    font-size: 18px;
    font-style: italic;
    color: black;
    text-decoration: none !important;
    padding: 22px 15px 0px 0px;
    vertical-align: middle;

}

.back {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.signin-box {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
    padding-bottom: 30px;
}

.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.center > .left {
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 5%;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 28px;
    color: darkorange;
}


.back input[type="text"],
.back input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 3%;
    width: 100%;
    height: 10.5%;
    border: none;
    border-bottom: 1px solid darkorange;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.back input[type="text"]:focus,
.back input[type="password"]:focus {
    border-bottom: 3px solid orange;
    color: orange;
    transition: 0.2s ease;
}

.back input[type="submit"] {
    margin-top: 8%;
    padding: 4%;
    width: 100%;
    height: 11%;
    background: darkorange;
    border: none;
    border-radius: 2px;
    color: #FFF;

    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.back input[type="submit"]:hover,
.back input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.back input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or {
    width: 40px;
    height: 40px;
    position: relative;
    line-height: 40px;
    margin: auto;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.center > .right {
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 6%;
    padding-top: 8%;
    border-radius: 0 2px 2px 0;
}

button.social-signin {
    margin-bottom: 8%;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;

    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}






@media screen and (max-width: 1420px) {

    .login-box {
        width: 75%;
        height: 65%;
        overflow: auto;
    }
    .jumbo {
        font-size: 56px !important;
    }

    #top,
    #bottom {
        height: 12px;
    }
    #left,
    #right {
        width: 12px;
    }

    .circle {
        height: 520px;
        width: 520px;
    }
}

@media screen and (max-width: 1080px) {

    .jumbo {
        font-size: 50px !important;
    }
    .circle {
        height: 480px;
        width: 480px;
        right: -95px;
        margin-top: 17%;
    }

    #thank .typed2 {
        margin-top: 30px !important;
        font-size: 80px !important;
    }
    .jumbo > .dot {
        display: none !important;
    }


}

@media screen and (max-width: 992px) {

    .jumbo {
        text-align: center;
        margin-top: 30px;
        padding: 0 !important;
    }
    .jumbo > span {
        color: white !important;
        display: block;
    }
    .back input[type="submit"] {
        padding: 2%;
    }
    img {
        height: 95px;
    }
    .dot {
        color: white;
    }
    .sign {
        color: white !important;
    }
    .circle,
    .goalpic {
        display: none !important;
        max-width: 0px !important;
    }
    body {
        background: linear-gradient(135deg, rgba(255, 174, 39, 1) 0%, rgba(222, 73, 109, 1) 100%);
        padding: 8px;
    }
    header {
        padding-top: 0px;
    }

    #top,
    #bottom,
    #left,
    #right {
        display: none;
    }
    footer {
        font-size: 14px;
        background-color: rgba(248, 249, 250, .9);
    }

    h4 {
        font-size: 20px;
    }
    .typed1 {
        color: white;
    }
    .button {
        border-color: white;
        color: white;
        border-radius: 40px;
        float: none;
        margin: 8%;
        display: block;
        padding: 7px 35px;
        font-size: 20px !important;
    }
    .arrow {
        color: black;
    }
    .button:hover {
        background-color: white;
    }
    .button:hover > .arrow {
        color: darkorange;
    }
    .third {
        margin-top: 9% !important;
    }
    .typed1 {
        font-size: 35px !important;
        color: white;
    }

    img {
        padding-left: 0;
        height: 90px;
    }
    h2 {
        font-size: 50px !important;
    }
    .caption {
        color: white;
        margin-left: 0;
    }

    #faq h2,
    #how h2,
    dd,
    #faq .content,
    .accordion > .accordion-item > a,
    .accordion .accordion-item > a::after {
        color: white !important;
        border-color: black !imprtant;
    }

    .accordion {
        padding: 0 !important;
        margin-top: 20px;
    }



}

@media screen and (max-width: 780px) {


    .icons {
        display: block;
        padding: 0;
    }

    div.item {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #how h2 {
        margin-top: 25px !important;
        font-size: 35px !important;
    }


}


@media screen and (max-width: 680px) {

    .typed1 {
        font-size: 27px !important;
        color: white;
    }

    h2 {
        font-size: 36px !important;
    }
    .caption {
        color: white;
    }

    #top,
    #bottom {
        height: 10px;
    }
    #left,
    #right {
        width: 10px;
    }
    .logo {
        font-size: 38px;
    }
    .dot {
        font-size: 60px;
    }
    .sign {
        font-size: 14px;
        padding: 20px 11px 0px 0px;
    }
    .login-box {
        width: 75%;
        height: 70%;
        overflow: auto;
        text-align: center;
        margin: auto;
        padding: 0;
        display: block;
    }
    .jumbo {
        font-size: 40px !important;
    }

    .back input[type="text"],
    .back input[type="password"] {
        width: 92%;
        height: 9%;
        padding: 4%;
        font-size: 13px !important;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
    }
    h1 {
        font-size: 25px;
        margin-top: 3%;
    }
    .or {
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    button.social-signin,
    .back input[type="submit"] {
        width: 85%;
        padding: 2%;
        font-weight: 600;
    }
    .accordion a::after {
        font-size: 15px !important;
        width: 26px !important;
        height: 26px !important;
    }
    .accordion a {
        font-size: 16px !important;
    }
    dt {
        font-size: 30px !important;
        width: 100% !important;
        display: block;
    }
    dd {
        font-size: 20px;
    }
    dl {
        padding: 18px !important;
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 480px) {


    .logo {
        font-size: 30px;
        padding-right: 5px;
    }
    .sign {
        font-size: 14px;
        padding: 15px 9px 0px 0px;
    }

    .jumbo {
        font-size: 40px !important;
    }


    h2 {
        font-size: 32px !important;
    }

    .typed1 {
        font-size: 23px !important;
    }
    img {
        height: 85px;
    }

    .caption {
        font-size: 15px;
    }

    .dot {
        font-size: 45px !important;
    }
    button.social-signin,
    .back input[type="submit"] {
        width: 90%;

    }
    .button {
        padding: 4px 30px !important;
        margin-top: 25px;
        font-size: 20px !important;
    }
}


@media screen and (max-width: 360px) {
    .logo {
        font-size: 28px !important;
        padding-right: 6px;
        margin: 0;
    }
    .sign {
        font-size: 13px !important;
        padding: 15px 9px 0px 0px;
    }

    .jumbo {
        font-size: 32px !important;
        height: 100% !important;
        width: 100% !important;
    }
    .button {
        font-size: 18px !important;
    }
}
