
.container-fluid {
    background: linear-gradient(135deg, rgba(255, 174, 39, 1) 0%, rgba(222, 73, 109, 1) 100%);
}

.dot {
    color: white;
}

.sign {
    color: white !important;
}

.contact-form {
    margin-top: 60px;
}



.contact-form .input-block {
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #FF512F;
    width: 100%;
    height: 60px;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 0px;
}

.contact-form .input-block.textarea {
    height: auto;
}

.contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}


.contact-form .input-block .form-control {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 18px;
    color: #333;
}


.contact-form .square-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: dimgray;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%;
}

.contact-form .square-button:hover,
.contact-form .square-button:focus{
    background-color: rgba(255,255,255,.9);
}

.input-block:focus-within {
    background-color: rgba(255,255,255,.85) !important;
}

@media (min-width: 768px) {
    .contact-wrap {
        width: 60%;
        margin: auto;
    }
}

.contact-wrap {
    padding: 10px;
}